/** {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}*/
img {
	padding: 5px;
}
.header {
	background-color: rgba(255,255,255,.75);
	text-align:center;
	height: 100px;
}
.resources {
	background-color: rgba(255,255,255,.75);
	text-align:center;
	background-size: contain;
	font-size: 30px;
}
.drumicon,#upgradetomtoms,#upgradesnare,#upgradehihat,#upgradecymbals,#buybass,#buyguitar,#buydrumsticks,#buypick{
	cursor: pointer;
}
.bassicon,.guitaricon,.drumicon,.managericon {
	height:100px;
	width:100px;
	display: inline;
}
.info {
	background-color: rgba(255,255,255,.75);
	width: 400px;
	height: 550px;
	padding: 20px;
	display:inline-block;
	position: absolute;
	float: left;
	overflow: hidden;
}
.information {
	max-height:450px;
	height:450px;
}
.drumupgrades,.guitarupgrades {
	background-color: rgba(255,255,255,.75);
	width: 1400px;
	padding: 20px;
	display:inline-block;
	float: right;
}
.snare,.hihat,.cymbals,.drumsticks,.tomtoms,.buyguitar,.buybass,.buypick {
	float: left;
	width: 350px;
	height: 150px;
	padding: 10px;
	display: inline-block;
}
